html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* --------Responsive Image --------- */
img{
  max-width: 100%;
}



 /*-------Utility Classes-------*/
.container{
    margin:auto;
    padding:40px;
}
body{
    font-family: "Quicksand", sans-serif;
    background-color: #051933;
}

main{
    background-color: #617CA0;
    width: 80vw;
    color: white;
    margin: 40px auto;
    border: 2px solid #D3E1F5;
    border-radius: 10px;
    /* text-align:center; */
}

header.primary{
    padding:20px; 
    background-image:url("../img/bg_1.png"); 
    background-repeat:no-repeat;  
    background-size:cover;  
    background-position: center;
    display: flex;
    justify-content: space-between;
}

header.primary nav{
  width: 30%;
}
header.primary nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header.primary nav ul li a{
  color: #fff;
  display: block;
  background: rgba(0,0,0,6);
  margin-bottom: 10px; 
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 10px 10px 0;
  font-size: .9rem;
  text-decoration: none;
  text-align: center;

}

header.primary nav ul li a:hover{
  background: #345075;
}
div.hgroup h1 a{
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
  
}

.hgroup h1, .hgroup h2{
  margin: 0px;
}

div.hgroup h2{
  color: #fff;
}

.hgroup h1, .hgroup h2{
  margin:0;
}

#content h2, #content h3, .widget header h2{
  color:  white;
  border-left: 10px solid #fff;
  border-radius: 20px;
  padding: 5px;
}

#blog{
  background-color: white;
  padding: 20px 0;
  color: #051933;
}

#blog > h2{
  color: #345075;
  margin: 20px;
}

#blog .post{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
    "figure header"
    "figure post-content"
    "figure footer";
  margin: 20px;
}

.post figure{
  grid-area: figure;
  margin: 0 20px 0 0;
}

.post header{
  grid-area: header;
}

.post .post-content{
  grid-area: post-content;
}

.post .post-meta{
  grid-area: footer;
}

aside .container{
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 40px;
}

#colophon{
  background-image:url("../img/bg_1.png"); 
    background-repeat:no-repeat;  
    background-size:cover;  
    background-position: center;
    padding: 1px;
    text-align: center;
}

