html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-family: "Quicksand", sans-serif;
    background-color: #5F4853;
}

main{
    background-color: #E7B0C9;
    width: 80vw;
    margin: 40px auto;
    border: 2px solid #000;
    border-radius: 10px;
}