:root{
  --primary-type-color: #000;
  --secondary-type-color: #F2EFE8;
  --heading-type-color: #332F0B;
  --accent-color-1: #BBB791;
  --accent-color-2: #A6BA91;
  --link-color: #5A7A10;
}



/* global styles */
nav, footer{
  margin: 0 auto;
}

header.primary{
  margin-top: 0px;
  text-align: center;
}

nav{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--accent-color-1);
}

nav a{
  padding: 0;
  margin: 0;
}
nav ul{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
    padding: 5px;

}

nav li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a:link, nav a:visited{
  text-decoration: none; 
  font-size: .9em;
  font-weight: 600;
}

nav a:link{
  color: var(--heading-type-color);
}

nav a:visited{
  color: #fff;
}

nav a:hover{
  color: #fff;
  transition: color 0.7s ease;
}

a{
  list-style-type: none;
  text-decoration: none;
}

a:link{
  color: var(--link-color);
}

body{
  background-color: #F2EFE8;
  font-family: "Mulish", sans-serif;
  margin: 0%;
  padding: 0%;
}


.heading{
  text-align: center;
  margin-top: 50px;
  background-image: url("/parks/assets/img/small.webp");  
  background-size: cover;
  background-position: center;
  min-height: 279px;
  background-repeat: no-repeat;
  color: white;
  font-size: 1.0em;
  padding: 30px;
}

#content h2{
  text-align: center;
  padding: 10px 5px 10px 5px;
  color: var(--heading-type-color);
  font-size: 30px;
}

h3{
  border-bottom: 2px solid var(--accent-color-1);
  padding: 0 0 10px 0;
}

footer a:link{
  color: black;
}
footer a:visited{
  color: #fff;
}

footer a:hover{
  color: #fff;
  transition: color 0.7s ease;
}

footer{
  background-color: var(--accent-color-1);
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 10px 7px 10px 7px;
  text-align: center;
}


.container{
  margin: 25px;
  margin-bottom: 50px;
}

.container h2{
  margin-bottom: 50px;
  margin-top: 0;
}


#lodging #general a:hover, #faq #general a:hover{
  color: var(--heading-type-color);
  transition: color 0.7s ease;
}

#lodging #general a:visited, #faq #general a:visited{
  color: var(--accent-color-1);
}
footer #header{
  color: #fff;
}

/*-------- home -------- **/

#home article.heading{
  grid-area: header;
  
}

#home #content{
  grid-area: content;
}

#home footer.primary{
  grid-area: footer;
}

#home #general h4{
  text-align: center;
}

#home #general a{
  color: var(--link-color);
}


#home #general a:visited{
  color: var(--link-color) ;
}

/*--------- lodging --------- */
#lodging #tiers{
  margin-top: 50px;
}
.large{
  display: none;
}
.small{
  display: block;
}
#lodging #first, #lodging #second{
  background: var(--accent-color-2);
  border: 2px solid var(--accent-color-2);
  border-radius: 25px;
}
#lodging #first li, #lodging #second li{
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/*--------- faq --------- */

#faq #questions h3{
  margin-top: 35px;
}
#faq #content h2{
  margin-bottom: 75px;
}
#faq #contact{
  margin-top: 50px;
  margin-bottom: 20px;
}

#home #general a:hover{
  color: var(--heading-type-color);
  transition: color 0.7s ease;
}
#faq article.heading{
  grid-area: header;
}

#faq #content{
  grid-area: content;
}

#faq footer.primary{
  grid-area: footer;
}
/*---------- MEDIA QUIERIES ----------*/
/* home */
#home main.container{
  max-width: 420px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer"
    ;
}

@media screen and (min-width:768px){
  #home header.primary{
    max-width: 900px;
  }
  #home .heading{
    min-height: 510px;
  }
  
  #home .heading h1{
    margin-top: 200px;
  }
  
  #home footer.primary{
    display: grid;
    font-size: 1.2em;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
      "info back"
      "copy copy"
      ;
  }
  #back{
    grid-area: back;
  }
  #info{
    grid-area: info;
  }
  #home footer.primary #back{
    margin-top: 120px;
  }
  
  #home footer.primary #info{
    text-align: left;
    margin-left: 50px;
  }
  
  #home footer.primary h6{
    text-align: center;
    grid-area: copy;
  }
  #home main.container{
    max-width: 900px;
    grid-template-areas: 
      "header header"
      "content content"
      "footer footer"
      ;
  }
}
@media screen and (min-width:992px){
  #home header.primary{
    max-width: 1124px;
  }
  #home main.container{
    max-width: 1124px;
  }
  #home #general{
    margin: 25px;
  }
}

/* lodging */
#lodging main.container{
  max-width: 420px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer"
    ;
}
@media screen and (min-width:768px){
  #lodging header.primary{
    max-width: 900px;
  }
  .small{
    display: none;
  }
  .large{
    display: block;
    margin-left: 40px;
  }
  #lodging .heading{
    min-height: 510px;
  }
  
  #lodging .heading h1{
    margin-top: 200px;
  }
  
  #lodging footer.primary{
    display: grid;
    font-size: 1.2em;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
      "info back"
      "copy copy"
      ;
  }
  #back{
    grid-area: back;
  }
  #info{
    grid-area: info;
  }
  #lodging footer.primary #back{
    margin-top: 120px;
  }

  
  #lodging footer.primary #info{
    text-align: left;
    margin-left: 50px;
  }
  
  #lodging footer.primary h6{
    text-align: center;
    grid-area: copy;
  }
  
  #lodging .heading{
    grid-area: header;
  }
  
  #lodging #general{
    grid-area: general;
  }
  
  #lodging #tiers{
    grid-area: tiers;
  }
  
  #lodging footer.primary{
    grid-area: footer;
  }
  #lodging main.container{
    max-width: 900px;
    grid-template-areas: 
      "header header"
      "general general"
      "tiers tiers"
      "footer footer"
      ;
  }
  
  #lodging .one{
    grid-area: first;
  }
  
  #lodging .two{
    grid-area: second;
  }
  #lodging #title{
    grid-area: title;
  }
  #lodging #tiers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title title"
      "first second"
      ;
  }
  #lodging #tiers h4{
    text-align: center;
  }
  #lodging #content{
    margin: 25px;
  }
  #lodging #second{
    margin-left: 50px;
  }
  #lodging .two h4{
    margin-left: 50px;
  }
}
@media screen and (min-width:992px){
  #lodging header.primary{
    max-width: 1124px;
  }
  #lodging main.container{
    max-width: 1124px;
  }
  #lodging #general, #lodging #tiers{
    margin: 25px;
  }
}
/* faq */
#faq main.container{
  max-width: 420px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer"
    ;
}

@media screen and (min-width:768px){
 #faq header.primary{
    max-width: 900px;
  }
  #faq .heading{
    min-height: 510px;
  }
  
  #faq .heading h1{
    margin-top: 200px;
  }
  #faq #look h4{
    color: var(--link-color);
  }
  #faq #look{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
      "title title"
      "shape size"
      "appearance color"
      ;
  }
  #faq #size, #faq #color{
    margin-left: 30px;
  }
  #faq #title{
    grid-area: title;
  }
  #faq #shape{
    grid-area: shape;
  }
  #faq #size{
    grid-area: size;
  }
  #faq #appearance{
    grid-area: appearance;
  }
  #faq #color{
    grid-area: color;
  }
  #faq footer.primary{
    display: grid;
    font-size: 1.2em;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
      "info back"
      "copy copy"
      ;
  }
  #back{
    grid-area: back;
  }
  #info{
    grid-area: info;
  }
  #faq footer.primary #back{
    margin-top: 120px;
  }
  
  #faq footer.primary #info{
    text-align: left;
    margin-left: 50px;
  }
  
  #faq footer.primary h6{
    text-align: center;
    grid-area: copy;
  }
  #faq main.container{
    max-width: 900px;
    grid-template-areas:
      "header header"
      "content content"
      "footer footer"
      ;
  }
}
@media screen and (min-width:992px){
  #faq header.primary{
    max-width: 1124px;
  }
  
  #faq main.container{
    max-width: 1124px;
  }
  #faq #questions, #faq #contact{
    margin: 25px;
  }
}

@media screen and (min-width:768px){
  .heading{
    background-image: url("/parks/assets/img/large.webp");
  }
}