
body{
    background-color: #9c7662;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%23f8b4c6' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");    font-family: "Quicksand", sans-serif;
    color: #54311a;
}
main{
    background-color: #fbdbe6;
    border: hsl(24, 53%, 22%) solid 3px;
    width: 85%;
    height: 85%;
    margin: 25px auto;
}

nav a:link, nav a:visited{
    text-decoration: none;
    color: #54311a;
}

h1{
    text-align: center;
}